.order {
    background-color: #FF5050;
    position: absolute;
    width: 100%;
    height: 8vh;
    cursor:pointer;
    bottom: 0px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: floralwhite;
    border-radius: 3px;
}

.counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    height: 35px;
    font-size: 16px;
    border-radius: 20px;
    border: solid rgb(196, 196, 196) 1px
}

.plus {
    width: 13px;
    margin: 13px;
}

.capsule {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    width: auto;
    height: 20px;
    padding: 8px;
    margin-left: 5px;
    border-radius: 20px;
    background-color: #ff3d3d;
    color: white;
}
