.cart {
    width: 30px;
    height: 30px;
}

.cart:active {
    box-shadow: none;
}

.cartbox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: 10px;
    background: linear-gradient(#007bff, #0cffdf);
    width: 65px;
    height: 65px;
    box-shadow: 1px 1px 1px black;
    border-radius: 50%;
    transition-duration: 0.3s;
}

.back {
    display: flex;
    align-items: flex-start;
    width: 20px;
    height: 20px;
}
