.cart {
    width: 30px;
    height: 30px;
}

.cart:active {
    box-shadow: none;
}

.spinner {
    height: 5vh;
}

.board {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 15vh;
}

.cartbox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: 10px;
    background: linear-gradient(#007bff, #0cffdf);
    width: 65px;
    height: 65px;
    box-shadow: 1px 1px 1px black;
    border-radius: 50%;
    transition-duration: 0.3s;
}

.back {
    display: flex;
    align-items: flex-start;
    width: 20px;
    height: 20px;
}

.navBack{
    cursor: pointer;
    font-size: 20px;
    padding: 10px 20px;
    color: white;
    background-color: #007bff;
    border-radius: 5px;
    margin-right: 15px;
}

.navHome{
    cursor: pointer;
    font-size: 20px;
    padding: 10px 20px;
    color: white;
    background-color: #6b6b6b;
    border-radius: 5px;
}