.cart {
    box-shadow: 1px 1px 1px black;
    border-radius: 50%;
    transition-duration: 0.3s;
    width: 65px;
    width: 65px;
    position: fixed;
    bottom: 55px;
    right: 10px;
}

.cart:active {
    box-shadow: none;
}

.back {
    display: flex;
    align-items: flex-start;
    width: 20px;
    height: 20px;
}
