.item {
    transition-duration: 1s;
    cursor: pointer;
    -ms-overflow-style: none;
}

.item:focus, .item:active {
    transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
    background-color: #adadad;
}

.menuContent {
    text-align: center;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}
